# This is Python Tutorial

In [2]:
x=3
y='james'

In [3]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3
y          str     james

In [4]:
x=5.7

In [5]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    5.7
y          str      james

In [6]:
abcd=894

In [7]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       int      894
x          float    5.7
y          str      james

In [ ]:
del y

In [ ]:
%whos

In [ ]:
print(y)

In [ ]:
c= 2+4j

In [ ]:
%whos

In [ ]:
abcd + c

In [ ]:
2//2

In [ ]:
2//3

In [ ]:
3//2

In [ ]:
s1='Hello'
s2='Why'

In [ ]:
adds1s2=s1 + s2

In [ ]:
%whos

In [ ]:
abcd + x

In [ ]:
x+abcd

In [ ]:
3x=2

In [ ]:
@jb=893

In [ ]:
_james=9

In [ ]:
_james

In [ ]:
d=True
j=False

In [ ]:
%whos

In [ ]:
False or True and True or True

In [ ]:
print((not(2!=3)and True) or (False and True))

In [ ]:
print(round(4.9374848236,2))

In [ ]:
print(divmod(277,5))

In [ ]:
print(isinstance(3,int))

In [ ]:
print(pow(3,2,3))

In [ ]:
f=input('Enter a number:')

In [ ]:
print(f)

In [ ]:
pow??

In [8]:
x=float(input('Enter the float:'))
y=round(x)

if y>0:
    if y>x:
         y=y-1
    if y%2==1:
      print('This is Odd Number')
    else:
      print('This is Even Number')
    
else:
     if y<x:
         y=y+ 1
     if y%2==1 :
       print('This is Odd Number')
     else:
       print('This is Even Number')
    
    
    
print(y)

Enter the float: 10

This is Even Number
10

In [ ]:
n=int(input('Enter this :'))
i=1
while i < n:
    print(i**i)
    print('This is iteration number :',i)
    i += 1

In [13]:
n=int(input('Enter Input Integer: '))
i=1
while True:
    if i&9 == 0:
        print('Even')
        # print(i)
        break
    else:
        print('Odd')
        i=i+1
        # print(i)
print('Done')

Enter Input Integer:  10

Odd
Even
Done

In [3]:
L=[]
for i in range(10):
    print(i + 1)
    L.append(i**2)
print(L)

1
2
3
4
5
6
7
8
9
10
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
def jim(a,b,c):
    insisi=a+b+c
    # print(insisi)
    return insisi
jim(1,2,4)
# print(insisi)

7

In [1]:
def add(*number):
    sum=0
    for i in range(len(number)):
        sum+=number[i]
    return sum
add(4,5,6,6)

21

In [1]:
 a= """this is line one
 this is line two
 this is last line
 """

In [5]:
print(a[:8])

this is

In [3]:
print(len(a))

52

In [7]:
a.find('i')

2

In [8]:
'as' in a

True

# Data Structure

In [25]:
L=[1,3,4.9,3]
T=(1,3,4.9,'name',3)
S={1,3,4.9,'name',3}
D={23:'twothree','B':43,'C':'CCD'}

In [5]:
L[1]=34

In [6]:
print(L)

[1, 34, 4.9, 'name', 3]

In [8]:
D[23]='i changed this '

In [9]:
print(D)

{23: 'i changed this ', 'B': 43, 'C': 'CCD'}

In [24]:
L= L + [78,89.09]

In [26]:
L

[1, 3, 4.9, 3]

In [32]:
D.update({'d':'ddd','hdjd':80})
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'd': 'ddd', 'hdjd': 80}

In [13]:
del L[3]

In [29]:
L.sort()
L

[1, 3, 3, 4.9]

In [34]:
D.

Signature: D.fromkeys(iterable, value=None, /)
Docstring: Create a new dictionary with keys from iterable and values set to value.
Type:      builtin_function_or_method

# Numpy

In [16]:
import numpy as np

In [15]:
b=np.array([1,2,3,4,5,6])

In [46]:
a=np.array([[[1,8,3,7],[2,3,4,5]],[[2,4,4,3],[2,3,4,2]]])

In [51]:
a.nbytes

64

In [33]:
type(a)

numpy.ndarray

In [87]:
c=np.arange(0,100,5)
c

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80,
       85, 90, 95])

In [93]:
np.argwhere(c==15)[0][0]

3

In [94]:
d=np.arange(100)

In [102]:
j=d[(d<40) & (d>20)]

In [110]:
c

array([ 0,  5, 12, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80,
       85, 90, 95])

# Pandas

In [111]:
import pandas as pd

In [125]:
data=pd.Series([34,89,233,'df'],index=['a','b','c','d'])

In [129]:
data['d']=56

In [130]:
data

a     56
b     89
c    233
d     56
dtype: object

In [138]:
grades=pd.Series({'A':4,'A-':3.5,'B-':2.5,'B':2})
marks=pd.Series({'A':85,'A-':80,'B-':75,'B':70,'B+':65})

A     4.0
A-    3.5
B-    2.5
B     2.0
dtype: float64

In [140]:
rs=pd.DataFrame({'Grades':grades,'Marks':marks})
rs

    Grades  Marks
A      4.0     85
A-     3.5     80
B      2.0     70
B+     NaN     65
B-     2.5     75

In [148]:
rs['Percentage']=rs['Marks']/100

SyntaxError: invalid syntax (623415706.py, line 1)

In [147]:
rs

    Grades  Marks  Percentage
A      4.0     85        0.85
A-     3.5     80        0.80
B      2.0     70        0.70
B+     NaN     65        0.65
B-     2.5     75        0.75

In [149]:
del rs['Percentage']

In [153]:
rs['Percentage']=rs['Marks']/100
rs['Next Grade']=rs['Grades']+1
rs

    Grades  Marks  Percentage  Next Grade
A      4.0     85        0.85         5.0
A-     3.5     80        0.80         4.5
B      2.0     70        0.70         3.0
B+     NaN     65        0.65         NaN
B-     2.5     75        0.75         3.5

In [159]:
rs.fillna(1)

    Grades  Marks  Percentage  Next Grade
A      4.0     85        0.85         5.0
A-     3.5     80        0.80         4.5
B      2.0     70        0.70         3.0
B+     1.0     65        0.65         1.0
B-     2.5     75        0.75         3.5

In [168]:
rs

    Grades  Marks  Percentage  Next Grade
A      4.0     85        0.85         5.0
A-     3.5     80        0.80         4.5
B      2.0     70        0.70         3.0
B+     NaN     65        0.65         NaN
B-     2.5     75        0.75         3.5